/*!!!!!!!!GENERAL_STYLES!!!!!!!!!!*/

.usual-button {
    background-color: #FEB250;
    padding: 1.14vw 52px;
    border-radius: 32px;
    color: #F8F6F8 !important;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 2.7vw;
}
  
a {
    text-decoration: none;
}
  
a:visited{
    color: inherit;
}
  
input {
    text-decoration: none;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
img {
    max-width: 100%;
}
  
html{
    font-family: 'Gordita';
}
  
* {
    box-sizing: border-box;
}
  
.container {
    max-width: 100%;
    margin: 0;
}
  
.input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
  
*:focus {outline:none !important}

  /* Header */
.header {
    width: 100%;
    height: 5.83vw;
    border-radius: 0px 0px 60px 60px;
    background-color: #F8F6F8;
    font-size: 2.08vw;
    line-height: 2.23vw;
    color: #000000;
    line-height: 1.56vw;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    width: 16.7vw;
    margin-left: 3.95vw;
    margin-right: 6.77vw;
}

.nav-list
{
    display: flex;
}

.nav-item{
    cursor: pointer;
}

.nav-item:not(:last-child)
{
    margin-right: 6.4vw;
}

.user-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 7.23vw;
}

.user-icon {
    width: 2.18vw;
    margin-right: 0.78vw;
}

/* Main*/


.input::placeholder {
    color: #828396;
}

.input {
    border: 3px solid #090E2B;
    border-radius: 77px;
    padding: 15px 1.19vw 15px 1.19vw;
    margin-bottom: 13px;
    transition: .3s box-shadow, .3s border-color;
    background: #F3F0F8;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.35vw;
}

.input:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input:focus {
    box-shadow: none;
    border-color: #FF9000;
}
  
  /* Footer */
.footer{
    background: #F8F6F8;
    border-radius: 3.12vw 3.12vw 0px 0px;
    padding: 1.97vw 7.55vw 1.4vw 4.16vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10.9vw;
}

.footer_logo{
    margin-right: 6.3vw;
}

.footer_logo-img{
    width: 16.7vw;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    margin-right: 7.13vw;
}

.nav_link{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 1.66vw;
    line-height: 1.82vw;
    color: #FF9000;
    white-space: nowrap;
}

.nav_link:not(:last-child){
    margin-bottom: 1.09vw;
}

.about-us_contacts{
    display: flex;
}

.about-us_contacts-text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.35vw;
    color: #000000;
    white-space: nowrap;
    margin-bottom: 0.46vw ;
}

.about-us_container{
    display: flex;
    flex-direction: column;
}

.about-us_contacts-right{
    display: flex;
    flex-direction: column;
}

.about-us_contacts-left{
    display: flex;
    flex-direction: column;
    margin-right: 6.97vw;
}

/*!!!!!!!!GENERAL_STYLES!!!!!!!!!!*/    
    
body{
    background-image: url(/images/Frame\ 12.png);
    width: 100%;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

.settings_title{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 2.86vw;
    line-height: 3.64vw;
    color: #FF9000;
}

.main-info_edit{
    margin: auto;
    margin-top: 82px;
    width: 90.4vw;
    padding: 64px 3.85vw 32px 3.64vw;
    background: #F8F6F8;
    border-radius: 21px;
}

.main-info_title{  
    width: 100%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 3.33vw;
    line-height: 4.27vw;
    color: #FF9000;
    margin-bottom: 44px;
}

.input-heading{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 1.66vw;
    line-height: 1.82vw;
    color: #FF9000;
    margin-bottom: 12px;
}

.main_input{
    box-sizing: border-box;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.45vw;
    line-height: 1.56vw;
    color: #828396;
    width: 26.9vw;
    height: 3.125;
}

.main_select{
    padding-top: 10px;
    padding-bottom: 10px;
    background: url(/images/arrow.png) no-repeat right #ddd;
    -webkit-appearance: none;
}

.main_input:not(:last-child){
    margin-bottom: 30px;
}

.main-info_edit_item:last-child{
    width: 100%;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.main-info_edit_form{
    display: flex;
}

/*TEXTAREA*/

.textarea-heading{
    width: 100%;
}

.textarea{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    max-height: 120px;
    background: #F3F0F8;
    border: 3px solid #090E2B;
    border-radius: 20px;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #828396;
    margin-bottom: 28px;
    padding: 26px 24px 26px 24px;
}

.textarea:last-child{
    max-height: 294px;
    height:100%;
}

.check_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.check{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #FF9000;
    margin-left: 9px;
}

.center_container{
    display: flex;
    width: 90.4vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 72px;
}

.center_container_item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 2.7vw;
}

.addition{
    display: flex;
}

/*PEOPLE*/

.people{
    background: #F8F6F8;
    border-radius: 21px;
    padding: 64px 48px 48px 70px;
}

.people_text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #000000;
}

.people_add{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #FF9000;
    margin-left: 12px;
}

/*LINK*/

.link{
    background: #F8F6F8;
    border-radius: 21px;
    padding: 24px 154px 24px 52px;
}

/*PHOTOS*/

.photos{
    background: #F8F6F8;
    border-radius: 21px;
    padding: 60px 76px 54px 52px;
}

.photos_title{
    margin-bottom: 27px;
}

.photos_add{
    display: flex;
    align-items: center;
}

.photos_add-text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-left: 27px;
}

.photos_main-word{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    color: #FF9000;
}

.photos_text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 26px;
}

.photos_img{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 28px;
}

.photos_img_item{
    width:90%;
}