.settings_title{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 2.86vw;
    line-height: 3.64vw;
    color: #FF9000;
}

.main-info_edit{
    margin: auto;
    margin-top: 4.27vw;
    width: 90.4vw;
    padding: 3.33vw 3.85vw 1.66vw 3.64vw;
    background: #F8F6F8;
    border-radius: 1.09vw;
}

.main-info_title{  
    width: 100%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 3.33vw;
    line-height: 4.27vw;
    color: #FF9000;
    margin-bottom: 2.29vw;
}

.input-heading{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 1.66vw;
    line-height: 1.82vw;
    color: #FF9000;
    margin-bottom: 0.625vw;
}

.main_input{
    box-sizing: border-box;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.45vw;
    line-height: 1.56vw;
    color: #828396;
    width: 26.9vw;
    height: 3.125vw;
}

.main_select{
    padding-top: 0.52vw;
    padding-bottom: 0.52vw;
    background: url(/images/arrow.png) no-repeat right #ddd;
    -webkit-appearance: none; /*ВАЖНАЯ СТРОЧКА - НЕ УБИРАТЬ*/
}

.main_input:not(:last-child){
    margin-bottom: 1.56vw;
}

.main-info_edit_item:last-child{
    width: 100%;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.main-info_edit_form{
    display: flex;
}

/*TEXTAREA*/

.textarea-heading{
    width: 100%;
}

.textarea{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    max-height: 120px;
    background: #F3F0F8;
    border: 3px solid #090E2B;
    border-radius: 1.04vw;
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.45vw;
    line-height: 1.56vw;
    color: #828396;
    margin-bottom: 1.45vw;
    padding: 1.35vw 1.25vw 1.35vw 1.25vw;
}

.textarea:last-child{
    max-height: 294px;
    height:100%;
}

.check_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.check{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 1.45vw;
    line-height: 1.56vw;
    color: #FF9000;
    margin-left: 0.46vw;
}

.center_container{
    display: flex;
    width: 90.4vw;
    margin: auto;
    margin-top: 3.125vw;
    margin-bottom: 3.75vw;
}

.center_container_item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 2.7vw;
}

.addition{
    display: flex;
}

/*PEOPLE*/

.people{
    background: #F8F6F8;
    border-radius: 1.09vw;
    padding: 3.33vw 2.5vw 2.5vw 3.64vw;
}

.people_text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.66vw;
    line-height: 1.82vw;
    color: #000000;
}

.people_add{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 1.66vw;
    line-height: 1.82vw;
    color: #FF9000;
    margin-left: 0.625vw;
}

/*LINK*/

.link{
    background: #F8F6F8;
    border-radius: 21px;
    padding: 24px 154px 24px 52px;
}

/*PHOTOS*/

.photos{
    background: #F8F6F8;
    border-radius: 1.09vw;
    padding: 3.125vw 3.95vw 2.81vw 52px;
}

.photos_title{
    margin-bottom: 1.40vw;
}

.photos_add{
    display: flex;
    align-items: center;
}

.photos_add-text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-left: 27px;
}

.photos_main-word{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    color: #FF9000;
}

.photos_text{
    font-family: 'Gordita';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 26px;
}

.photos_img{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 28px;
}

.photos_img_item{
    width:90%;
}